@tailwind base;
@tailwind components;
@tailwind utilities;

/* Amethyst */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 270 80% 50%; /* Amethyst */
    --primary-foreground: 270 100% 97%; /* Amethyst */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 270 80% 50%; /* Amethyst */
    --radius: 0.5rem;
    --chart-1: 270 80% 50%; /* Amethyst */
    --chart-2: 272 73% 62%; /* Amethyst */
    --chart-3: 275 80% 72%; /* Amethyst */
    --chart-4: 278 83% 82%; /* Amethyst */
    --chart-5: 275 90% 91%; /* Amethyst */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 80% 50%; /* Amethyst */
    --primary-foreground: 270 100% 97%; /* Amethyst */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --radius: 0.5rem;
    --ring: 270 80% 50%; /* Amethyst */
    --chart-1: 270 80% 50%; /* Amethyst */
    --chart-2: 272 73% 62%; /* Amethyst */
    --chart-3: 275 80% 72%; /* Amethyst */
    --chart-4: 278 83% 82%; /* Amethyst */
    --chart-5: 275 90% 91%; /* Amethyst */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.logo-loader {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-group line,
.loader-group rect {
  opacity: 1;
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}
